body{
	background-color:#F5F8FA;
	outline:0px solid #000000;
	margin:0px;
}

p{
	margin:0px;
}

#wrapper{
	outline:0px solid #C5161D	
}

#headSite{
	outline:0px solid #00FF00
}

#header{
	outline:0px solid #000000;	
	background-color:#FFFFFF;
	height:45px;
}

#headerNav{
	
}

#headerNav ul{
	margin:0px;
	padding:10px 0 0 65px;
}

#headerNav ul li{
	display:inline;
	padding-right:10px;
}

#headerNav a{
	text-decoration:none;
	color:#66757F;
	font-family:"MS Sans Serif";
	font-size:14px;
}

#bodySite{
	width:1180px;
	outline:0px solid #000000;
	margin:10px auto;
}

#sidebarL{
	height:437px;
	width:282px;
	outline:0px solid #000000;
	float: left;
}

#Profilecard{
	height:192px;
	width:290px;
}

#Profilebg{
	height:96px;
	width:290px;
	background-color: #9266CC;
}

#Profileinfo{
	outline:0px solid #000000;
	border:1px solid #E1E8ED;
	width:288px;
	height:95px;
	background-color:#FFFFFF;
}

#image{
	position:relative;
	width:72px;
	height:44px;
}

#batko{
	position:relative;
	top:-30px;
	left:0px
}

#userIn{
	position:relative;
	top:-38px;
	left:90px;
	width:185px;
	height:38px;
}

#userStats{
	width:277px;
	height:51px;
	position:relative;
	top:-38px;
}

#userstats table tr td{
	padding-left: 10px;
}

.infName{
	color:#292F33;
	font-family:"MS Sans Serif";
	font-size:22px;
}

.infNick{
	color:#A399AD;
	font-family:"MS Sans Serif";
	font-size:14px;
}

.infText{
	color:#A399AD;
	font-family:"MS Sans Serif";
	font-size:14px;
}

.infCount{
	color:rgb(0, 132, 180);
	font-family:"MS Sans Serif";
	font-size:18px;
}

#Trends{
	width:288px;
	margin-top:16px;
	outline:0px solid #000000;
	border:1px solid #E1E8ED;
	background-color:#FFFFFF;
}

#Trends ul{
	padding-left: 10px;
}

#Trends ul li{
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.trtitle{
	color:rgb(0, 132, 180);
	font-family:"Arial";
	font-size:13px;
}

.trcount{
	color:rgb(136, 153, 166);
	font-family:"Arial";
	font-size:13px;
}

#sidebarR{
	float:right;
}

#read{
	width:290px;
	outline:0px solid #000000;
	border:1px solid #E1E8ED;
	background-color:#FFFFFF;
	margin-bottom:10px;
}

#read ul{
	padding-left: 10px;
}

#read ul li{
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 50px;
}

.fullname{
	color: rgb(41,47,51);
	font-size: 13px;
	font-family: Arial;
}

.nickname{
	color: rgb(136,153,166);
	font-size: 13px;
	font-family: Arial;
}

#copyright{
	width:290px;
	outline:0px solid #000000;
	border:1px solid #E1E8ED;
	background-color:#FFFFFF;
}

#content{
	width:589px;
	outline:0px solid #000000;
	margin:0 0 0 292px;
}

#headCont{
	height:43px;
	outline:0px solid #000000;
	border:1px solid #E1E8ED;
	background-color:#FFFFFF;
}

#headNav{
	
}

.readname{
	position: relative;
	left: 50px;
	top: -55px;
}

.readbtn{
	position: relative;
	left: 50px;
	top: -55px;
}

.read{
	height: 30px;
	width: 90px;
}

.title{
	margin: 10px 0px 10px 10px;
}

.tweetname{
	position: relative;
	left: 50px;
	top: -55px;
	margin-right: 75px;
}

.tweetfullname{
	color: rgb(41,47,51);
	font-size: 13px;
	font-family: Arial;
}

.tweetnickname{
	color: rgb(136,153,166);
	font-size: 13px;
	font-family: Arial;
}

.tweettext{
	color: rgb(41,47,51);
	font-size: 14px;
	font-family: Arial;
	position: relative;
	top: -50px;
	left: 50px;
	margin-right: 75px;
}

.tweet{

}

#Cont{
	margin-top: 10px;
	border:1px solid #E1E8ED;
	background-color:#FFFFFF;
}

#Cont ul{
	padding-left: 10px;
}

#Cont ul li{
	list-style-type: none;
	margin-bottom: -40px;
}
